# Keeping Time, Scedule Task and Lounching Program

In [1]:
import time
time.time()

1639318471.9308233

In [16]:
def calProduct():
    product = 1
    for i in range(1,100000):
        product = product * i
    return product

startTime = time.time()
prod = calProduct()
endTime = time.time()

In [17]:
print('The result is %s digits long.' % (len(str(prod))))
print('Took %s seconds to calculate.' % (endTime - startTime))

The result is 456569 digits long.
Took 2.346961259841919 seconds to calculate.

## The time.sleep() Function

In [18]:
import time

for i in range(3):
    print('Tick')
    time.sleep(1)
    print('Tock')
    time.sleep(1)

Tick
Tock
Tick
Tock
Tick
Tock

In [20]:
input() # press Enter to begin
print('Started.')
startTime = time.time() # get the first lap's start time
lastTime = startTime
lapNum = 1

try:
    while True:
        input()
        lapTime = round(time.time() - lastTime, 2)
        totalTime = round(time.time() - startTime, 2)
        print('Lap #%s: %s (%s)' % (lapNum, totalTime, lapTime), end='\n')
        lapNum += 1
        lastTime = time.time() # reset the last lap time
except KeyboardInterrupt:
    print('\nDone.')

Started.
Lap #1: 1.95 (1.95)
Lap #2: 3.34 (1.39)
Lap #3: 4.71 (1.37)
Lap #4: 5.93 (1.22)
Lap #5: 7.96 (2.02)
Lap #6: 9.28 (1.32)
Lap #7: 10.72 (1.44)
Lap #8: 22.08 (11.36)
Lap #9: 23.99 (1.91)

Done.

In [21]:
import datetime
datetime.datetime.now()
dt = datetime.datetime(2015, 10, 21, 16, 29, 0)

In [22]:
dt.year, dt.month, dt.day

(2015, 10, 21)

In [23]:
dt.hour, dt.minute, dt.second

(16, 29, 0)

In [25]:
datetime.datetime.fromtimestamp(0)

datetime.datetime(1970, 1, 1, 5, 30)

In [26]:
datetime.datetime.fromtimestamp(time.time())

datetime.datetime(2021, 12, 12, 20, 1, 57, 811860)

In [27]:
delta = datetime.timedelta(days=11, hours=10, minutes=9, seconds=8)
delta.days, delta.seconds, delta.microseconds
delta.total_seconds()

986948.0

In [28]:
str(delta)

'11 days, 10:09:08'

In [29]:
dt = datetime.datetime.now()
dt

datetime.datetime(2021, 12, 12, 20, 4, 8, 215174)

In [33]:
thousandDays = datetime.timedelta(hours=1000)

In [34]:
dt + thousandDays

datetime.datetime(2022, 1, 23, 12, 4, 8, 215174)

## Converting datetime Objects into Strings

In [36]:
oct21st = datetime.datetime(2015, 10, 21, 16, 29, 0)

In [41]:
oct21st.strftime('%d-%b-%Y %H:%M:%S')

'21-Oct-2015 16:29:00'

In [ ]:
fh = open('out/time-log.txt','w')
for i in range(10):
    fh.write